button {
    background-color: #0c80f3;
    border: 6px solid #0ff166;
    border-radius: 10px;
    width: 150px;
  }
  
  select {
    display: block;
    margin-bottom: 20px;
  }
  
  .title {
    font-size: 80px;
    font-family:'Times New Roman', Times, serif;
    font-weight: bold;
    text-align: center;
    color: white;
    background-image:linear-gradient( rgb(43, 85, 43),white);
    padding: 50px;
  }
  .mainContent {
    padding-top: 20px;
    text-align: center;
  }
  
  .userInput {
    text-align: center;
  
  }
  
  .moneyInput {
    text-align: center;
    padding-top: 20px;
  }